<tbody>
        <tr>
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
          </td>
          <td>
           
            <p class="title">{{title}}</p>
            <p class="text-muted">{{description}}</p>
            
          </td>
          <td class="td-actions text-right">
            <button type="button" rel="tooltip" title="" class="btn btn-link"
              data-original-title="Edit Task">
              <i class="tim-icons icon-pencil"></i>
            </button>
          </td>
        </tr>
    </tbody>